span.cursive{
    font-style: oblique;
}
span.negrita{
    font-weight: bold;
}
span.schmol{
    font-size: smaller;
}
ul {
    list-style-image: url("img/frok.png");
}
ol {
    list-style-type: hebrew;
}