table {
  border: #bbe4e9 1px solid;
  background-color: white;
  border-collapse: collapse;
}
td, th {
  border: #5585b5 2px solid;
}
caption{
  color: #5585b5;
  background-color: #bbe4e9;
}