table {
  border: #5585b5 1px solid;
  background-color: white;
  border-collapse: collapse;
}
td, th {
  border: #5585b5 2px solid;
}
caption{
  color: #363636;
  background-color: #5585b5;
}